.toppings_container {
	width: 100vw;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.toppings_options > * {
	margin-bottom: .5em;
	cursor: pointer;
}

.toppings_listing {
	color: rgba(0, 0, 0, 0.25);
	list-style-type: none;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 2em;
}

.toppings_next_button {
	padding: 1em;
	background-color: transparent;
	color: black;
	border: 5px solid black;
	cursor: pointer;
	font-family: "Roboto";
	font-weight: 700;
	width: 200px;
	position: absolute;
	left: 0;
	right: 0;
	/* bottom: 0%; */
	margin: auto;
}